* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height:100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
  color: #333;
  display:flex; 
  flex-direction:column; 
}

.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem; 
}